
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 3px solid #C4C4C4;
  border-radius: 8px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

input:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}