* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

.logon-container {
  display: flex;
  padding: 8% 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

button {
  font-family: "Roboto", sans-serif;
  width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.form {
  background: #77D17A;
  /* max-width: 360px; */
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.welcome-text h1 {
  padding-bottom: 20px;
  font-size: xx-large;
}

body {
  background: linear-gradient(rgba(246,247,249,0.8),rgba(246,247,249,0.8)), no-repeat center center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}